@import url('https://fonts.googleapis.com/css2?family=Hind&family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Upper Header Desinging Start */
.upper-header{
    margin-bottom: 2.8rem;
}
.announcement-bar{
    width: 100%;
    height: 15px;
    background-color: #F7BCBD;
}
.logo-area{
    padding: 18px 0;
}
.upper-header hr{
    border: none;
    border-top: 1px solid #E9E9E9;
}
/* Upper Header Desinging End */

/* Main Header Desinging Start */
.main-header{
    width: 100%;
    display: none;
}

/* Image Side */
.main-header .image-side{
    width: 50%;
    padding: 0 35px 0 0;
    flex-direction: column;
    align-items: flex-end !important;
}
.image-side img{
    width: 413px;
}
.image-side .pagination-arrow{
    width: 8px;
}
.pagination{
    gap: 5px;
    width: 413px;
    margin-top: 13px;
    cursor: pointer;
}
.pagination div{
    border-radius: 10px;
    width: 20px;
    height: 2px;
    background-color: #00000033;
}
.pagination div:nth-child(2){
    background-color: #000;
}

/* Details Side */
.main-header .details-side{
    width: 50%;
    padding: 0 0 0 40px;
    flex-direction: column !important;
    align-items: flex-start !important;
}
.guarantee-sticker{
    position: relative;
    width: 18rem;
    padding: 9px 20px;
    background-color: #FFE9E8;
    margin-bottom: 22px;
    margin-left: -5px;
}
.guarantee-sticker::after{
    position: absolute;
    content: "";
    top: 0;
    left: -26px;
    width: 40px;
    height: 100%;
    background-color: #fff;
    transform: rotate(45deg);
}
.guarantee-sticker::before{
    position: absolute;
    content: "";
    top: 0;
    right: -26px;
    width: 40px;
    height: 100%;
    background-color: #fff;
    transform: rotate(45deg);
}
.details-side .product-name{
    font-size: 25px;
}
.price p:nth-child(1){
    font-size: 22px;
}
.price p:nth-child(2){
    font-size: 45px;
}
.price-tagline{
    font-size: 11px;
    color: #6F6F6F;
    font-family: system-ui;
    margin-bottom: 23px;
}
.order-btn{
    background-color: #F7BCBD;
    color: #4C1E1E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    padding: 14px 111px;
    margin-bottom: 13px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.order-btn:hover{
    background-color: #e49a9b;
    color: #4C1E1E;
}
.payment-gateways{
    padding: 0 39px;
    gap: 5px;
    margin-bottom: 35px;
}
.star-rating{
    gap: 2px;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.star-rating-box{
    width: 18px;
    height: 18px;
    background-color: #55B180;
    position: relative;
}
.star{
    position: absolute;
}

.star-rating span{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.client-review p{
    width: 22rem;
    margin-bottom: 20px;
}
/* Main Header Desinging End */

/* Features Section Desinging Start */
.features-section{
    width: 100%;
    padding: 10px 0;
    background-color: #FFE9E8;
    margin-top: 7rem;
    flex-wrap: wrap;
}
.feature{
    text-align: center;
    width: 186px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feature img{
    width: 55px;
}
/* Features Section Desinging End */

/* Skin-Care-Elements Desinging Start */
.sc-elements{
    margin-top: 20px;
    display: none;
}
.sc-elements .section-heading{
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}
.section-heading p:nth-child(1){
    font-size: 27px;
    margin-bottom: 12px;
}
.section-heading p:nth-child(2){
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-style: italic;
    color: #545454;
    margin-bottom: 20px;
}
.section-heading p:nth-child(3){
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    width: 50%;
    color: #545454;
    letter-spacing: 0.02em;
}
.section-elements{
    flex-wrap: wrap;
    gap: 78px;
    align-items: flex-start;
}
.section-elements .element{
    flex-direction: column;
    gap: 7px;
    text-align: center;
}
.element img{
    width: 240px;
}
.element p:nth-child(1){
    font-size: 17px;
}
.element p:nth-child(3){
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    color: #545454;
    width: 19rem;
}
/* Skin-Care-Elements Desinging End */

/* Reviews Section Designing Start */
.reviews-section{
    margin-top: 5rem;
    background-color: #FFE9E8;
    padding: 2rem 20px 3.5rem;
    flex-direction: column;
}
.reviews-heading{
    font-size: 26px;
    margin-bottom: 1.5rem;
}
.client-reviews-cards{
    gap: 21px;
    align-items: initial;
}
.client-reviews-cards .single-review-card{
    background-color: #fff;
    width: 295px;
    padding: 1rem 1.5rem;
    flex-direction: column;
    gap: 12px;
}
.single-review-card .client-img{
    width: 150px;
}
.client-review-star-rating{
    gap: 7px;
}
.single-review-card .head-line{
    font-style: italic;
    font-size: 20px;
}
.single-review-card .description{
    text-align: center;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
}
.single-review-card .client-name{
    font-family: 'Hind', sans-serif;
}
/* Reviews Section Designing End */

/* About Section Designing Start */
.about-section{
    background-color: #F3F0F0;
    padding: 2.8rem 0 3.5rem;
}
.about-details{
    flex-direction: column;
    gap: 12px;
}
.about-details img{
    width: 164px;
}
.about-details .about-headline{
    font-size: 24px;
}
.about-details .about-description{
    text-align: center;
    width: 42rem;
    font-family: 'Hind', sans-serif;
    line-height: 26px;
}
/* About Section Designing End */

/* Product Section Designing Start */
.product-section{
    margin-top: 4rem;
}
.product-section .payment-gateways{
    margin-bottom: 0 !important;
}
.product-section .product-color-varient-text{
    margin: 7px 0 1rem;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
}
.product-section .product-color-varients{
    gap: 8px;
    margin-bottom: 1.6rem;
}
.product-color-varients div{
    width: 39px;
    height: 39px;
    background: #E1C1AD;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.product-color-varients div:nth-child(2){
    background-color: #D5B19F;
}
.product-color-varients div:nth-child(3){
    background-color: #D2AD99;
}
.product-color-varients div:nth-child(4){
    background-color: #C5A392;
}
.product-color-varients div:hover{
    border: 4px solid #4C1E1E;
}
/* Product Section Designing End */

/* Footer Designing Start */
.footer{
    position: relative;
    margin-top: 5rem;
    width: 100%;
    min-height: 12rem;
    background-color: #4C1E1E;
    padding: 2rem 1rem;
    font-family: 'Hind', sans-serif;
    align-items: flex-start;
}
.footer-side-1{
    flex-direction: column;
    gap: 20px;
}
.footer ul{
    list-style-type: none;
    color: #fff;
    gap: 26px;
    text-align: center;
}
.footer ul li{
    cursor: pointer;
}
.footer .social-icons{
    gap: 30px;
}
.footer .copyright-text{
    color: #fff;
}
.footer-side-2{
    position: absolute;
    right: 46px;
    top: 33px;
    color: #fff;
    font-size: 14px;
}
.contact-details-for-small-devices{
    color: #fff;
    text-align: center;
    display: none !important;
}
/* Footer Designing End */

/* Responsiveness Start */

@media only screen and (max-width: 1230px) {
    .client-reviews-cards{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1080px) {
    .footer{
        gap: 30px;
    }
    .footer-side-2{
        position: relative;
        right: 0;
        top: 0;
    }
}
@media only screen and (max-width: 900px) {
    .image-side{
        padding: 0 0 0 0 !important;
    }
}
@media only screen and (max-width: 826px) {
    .image-side img{
        width: 342px;
    }
    .pagination{
        width: 342px;
    }
    .guarantee-sticker{
        margin-bottom: 15px !important;
    }
    .payment-gateways{
        margin-bottom: 21px !important;
    }
    .price-tagline {
        margin-bottom: 19px !important;
    }
    .client-review p {
        width: 17rem;
    }
}
@media only screen and (max-width: 768px) {
    .footer-side-2{
        display: none !important;
    }
    .contact-details-for-small-devices{
        display: block !important;
    }
    .about-details .about-description{
        width: 100% !important;
        padding: 0 5rem !important;
    }
}
@media only screen and (max-width: 653px) {
    .logo-area img{
        width: 265px !important;
    }
    .hideOnSmallDevices{
        display: none !important;
    }
    .single-review-card{
        width: 100% !important;
    }
    .single-review-card .client-img {
        width: 131px !important;
        margin-bottom: 10px;
    }
    .about-details img {
        width: 131px !important;
    }
    .about-details .about-headline {
        font-size: 18px !important;
        margin-top: 6px !important;
    }
}
@media only screen and (max-width: 470px) {
    .about-details .about-description{
        padding: 0 2rem !important;
    }
}
@media only screen and (max-width: 412px) {
    .footer-side-1{
        gap: 25px !important;
    }
    .footer ul{
        font-size: 12px !important;
        gap: 5px !important;
    }
    .footer .social-icons {
        gap: 22px !important;
    }
    .footer .social-icons img{
        width: 18px !important;
    }
    .copyright-text,
    .contact-details-for-small-devices{
        font-size: 15px !important;
    }
    .about-details .about-headline{
        font-size: 17px !important;
        padding: 0 33px !important;
        text-align: center !important;
        line-height: 1.7rem !important;
    }
    .about-details .about-description{
        padding: 0 1.5rem !important;
        font-size: 13px;
        line-height: 1.5rem;
    }
}
@media only screen and (max-width: 375px) {
    .logo-area img{
        width: 234px !important;
    }
    .feature {
        width: 156px !important;
    }
}